@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-text-light: rgb(175, 175, 175);
    --color-text-dark: rgb(51, 51, 51);
    
    --color-selected-red: rgb(241, 85, 80);

    --color-dark-dark: rgb(27, 27, 27);
    --color-dark-bg: rgb(38, 38, 38);
    --color-dark-weekend: rgb(36, 36, 36);
    --color-grey: rgb(57, 57, 57);

    --alert-error: #ff4444;
    --alert-success: #24C958;
    
    --color-border: rgba(63, 63, 63, 0.425);
    --divider-border: 0.1px solid var(--color-border);

    --border-test: 1px solid red;

    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .2s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: 0.4em;
    --gap-padding: 0.5em;
}

/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--color-text-light);
    background-color: var(--color-dark-bg);
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;
}

.container {
    display: flex;
    margin: 0;
    max-width: 100dvw;
    min-height: 100dvh;
}

.section {
    display: block;
    position: relative;
    padding: var(--section-padding);
}

/* ------------------------------------- */
/* ?REUSABLE COMPONENTS? */
/* ------------------------------------- */

/* !------Headings------! */
h1,
h2,
h3 {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: clamp(1.55em, 2.3vw, 2.5em);
    font-weight: 400;
}

/* !------Buttons------! */
button {
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.btn-svg {
    border: none;
    background: none;
    border-radius: 20%;
    transition: 300ms ease-in-out;
}

/* !------Img------! */
svg {
    width: 100%;
    height: 100%;
}

span {
    width: fit-content;
    height: fit-content;
}

/* ------------------------------------- */
/* ?SECTIONS? */
/* ------------------------------------- */

.calendar-side-info {
    min-width: 9em;
    background-color: var(--color-dark-dark);
    display: grid;
    grid-template-rows: repeat(11, 1fr);

    & > section {
        max-width: 180.4px;
    }
}

.calendar-container {
    width: 100%;
    border-left: var(--divider-border);
    border-right: var(--divider-border);
}

.calendar-side-utils {
    min-width: 11.5em;
}

/* ------------------------------------- */
/* ?CALENDAR SIDE INFO? */
/* ------------------------------------- */
.calendar-side-info > section {
    display: block;
    width: 100%;
}

/* *side bar button* */
#sb-btn {
    & > g > path {
        transform: scaleY(125%) translateY(-10%);
        transition: var(--animation-fast);
    }

    &:hover > g > path {
        stroke-width: 2.2;
    }
}

/* *side bar calendario* */
.sb-cal-sec {
    grid-row: 2 / span 3;
}

.sb-btn-cal-sec {
    display: flex;
    justify-content: end;
}

.sb-btn-cal-container {
    display: flex;
    width: 50px;
    height: 20px;
    justify-content: space-around;
    align-items: center;
}

.btn-scrollUp,
.btn-scrollDown {
    display: block;
    height: 20px;

    .btn-svg {
        position: relative;
        transform: translateY(-20%);

        svg {
            position: absolute;
            top: 0;
            left: 0;
            opacity: .7;
            width: 10px;
            height: 10px;
            transition: 300ms ease-in-out;
        }
    }


    .btn-svg:hover {
        background-color: var(--color-grey);
    
        svg {
            opacity: 1;
        }
    }
}

.btn-scrollUp .btn-svg svg {
    transform: translate(50%, 50%);
}

.btn-scrollDown .btn-svg svg {
    transform: translate(50%, 50%) rotate(180deg);
}

.sb-cal-vis-sec {
    padding: 8px 0;
}

.sb-cal-vis-sec .sb-rdp {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 9px;
}

.rdp-head {
    width: 100%;
    height: 100%;

    .rdp-head_row {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
}

/* ------------------------------------- */
/* ?CALENDAR CONTAINER? */
/* ------------------------------------- */



/* ------------------------------------- */
/* ?CALENDAR SIDE UTILS? */
/* ------------------------------------- */